.widget {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.widget > header {
  flex: 0 0 auto;
  text-align: center;
  background-color: #ecf0f1;
  padding: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.widget > header > .logo {
  max-width: 45%;
}

.widget > .body {
  flex: 2 0 auto;
  background-color: #D8E1E8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget > .body > .slogan {
  flex: 0 1 auto;
  text-align: center;
  color: #282830;
  font-size: 4em;
  padding: 20px;
}

.widget > .body > h2 {
  flex: 0 0 auto;
  text-align: center;
  color: #34495e;
}

.widget > .body > md-input-container {
  flex: 1 0 auto;
  width: 80%;
  margin-bottom: 20px;
}

.widget > .body > .submit-button {
  flex: 0 0 auto;
  margin-bottom: 20px;
  font-variant: small-caps;
  background-color: #CF000F;
  color: white;
}

.widget > footer {
  flex: 0 0 auto;
  padding: 10px;
  text-align: center;
  color: white;
}
